body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(226 232 240);
  font-family: "Courier New", Courier, monospace;
  ;
}
.active {
  background-color: rgb(20, 94, 243);

}